<div class="container">
  <h1><strong></strong> {{evento?.Nombre}}</h1>
  <img class="" src="{{evento?.imagen}}" alt="Card image cap">
  <p><strong>Descripcion:</strong> {{evento?.Descripcion}}</p>
  <p><strong>Precio por Juego:</strong> ${{evento?.precio}}</p>
  <p><strong>Copias disponibles:</strong> {{evento?.cantidad}}</p>
  <p *ngIf="evento?.descuento >= 0"><strong>Descuento:</strong> {{evento?.descuento }}%</p>
  <p *ngIf="evento?.descuento >=0"><strong>Precio con descuento:</strong>  ${{evento?.precio-(evento?.precio * evento?.descuento / 100) | number:'1.2-2'}}</p>

  <div class="ticket-stock">
    <label for="ticketQuantity">Cantidad de boletos:</label>
    <input
      type="number"
      id="ticketQuantity"
      [(ngModel)]="selectedTickets"
      [min]="1"
      [max]="evento?.ticket_quantity"
    />
    <button (click)="addToCart()">Añadir al carrito</button>
  </div>
</div>