.events-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    justify-content: center;
    margin: auto;
  }
  
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 10px;
    margin: 10px 0;
  }
  
  .filter-buttons button {
    border-radius: 8px;
    border: none; /* Eliminado el borde */
    padding: 4px 8px;
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .filter-buttons button:hover {
    background-color: black; /* Fondo negro al pasar el cursor */
    color: white; /* Texto blanco al pasar el cursor */
  }
  
  h1 {
    color: red;
    margin: 20px 0;
  }